*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behaviour: smooth;
}

.Sidebar{
  height: 1000px;
  width: 250px;
  background-color: #2F4050;
  margin: 0;

}

.main-container{
  min-height: calc(100vh - 390px);
}

#navbar{
  background-color: #287094;
  padding: 35px ;
  align-content: center;
}

.nav-link {
color: #D4D4CE !important;
}

#profile-btn{
  width: 8%;
  border-radius: 8px;
  font-size: 14px;;
  display: block;
  margin-left:  auto;
  margin-right: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
